/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
body {
    font-family: 'Barlow', Verdana, sans-serif;
}


a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a:focus, button:focus {
    outline: none !important;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

.navbar-dark {
    /*    background: #ee4054 !important;*/
    background: none;
}

/*.top-bar {
    padding: 0px;
    font-size: 14px;
    background: #d73a4d;
    color: rgba(255,255,255,0.8);
}*/

/*.top-bar > .container {
    padding-left: 0;
}*/

/*.top-bar ul > li a {
    color: rgba(255,255,255,0.8);
    padding: 0px;
    font-weight: 400;
    -webkit-transition: all 0.2s linear 0s;
    -moz-transition: all 0.2s linear 0s;
    -o-transition: all 0.2s linear 0s;
    transition: all 0.2s linear 0s;
    font-size: 16px;
}

.top-bar ul > li {
    display: inline-block;
    padding: 0 13px;
    border-left: 1px rgba(255,255,255,0.3) solid;
    margin: 7px 0;
}*/

.top-bar {
    background: #f9b900;
}

.top-bar-right {
    padding: 7px 0;
    text-align: center;
}

.top-bar-right .nav {
    float: right;
    display: block;
}

.cnt-account ul > li a {
    color: #000;
}

.top-bar .cnt-block ul li a .caret {
    color: #000;
}

.cnt-block .list-inline > li > a .value {
    color: #000;
}

.cnt-account ul > li {
    border-color: #777777;
}

@media (min-width: 992px) {
    .col-md-2.override-20 {
        width: 20% !important;
        max-width: 20% !important;
        flex: 0 0 20%;
        padding-right: 0;
    }

    .col-md-10.override-80 {
        width: 80% !important;
        max-width: 80% !important;
        flex: 0 0 80%;
        padding-left: 0;
    }
}

.row.custom-margin {
    margin-top: 30px;
}

.dropdown-toggle::after {
    border: none;
}

@media (max-width: 767px) {
    .top-search-holder {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.footer-column ul > li {
    font-size: 13px;
    line-height: 30px;
    color: #666;
    position: relative;
    margin-left: 15px;
}

.footer-column ul > li a {
    color: #666;
}


.footer-column ul > li a:before {
    content: "\f111";
    font-family: FontAwesome;
    position: absolute;
    margin-left: -13px;
    font-size: 4px;
    color: #999;
}

header {
    /*    background: #ee4054;*/
    background: #f9b900;
}

.main-header nav {
    width: 100%;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    background-color: none;
}

.main-header .logo-holder {
    padding-left: 0;
    padding-right: 0;
    outline-width: 0px !important;
}

.main-header .logo {
    padding-left: 0;
    width: auto;
    display: inline-block;
}

.navbar-toggler, .navbar-toggler.collapsed {
    padding: 0 15px;
    outline-width: 0px !important;
}

#navbarSupportedContent {
    text-align: right;
}

#navbarSupportedContent .navbar-nav {
    display: inline-block;
    width: auto;
    padding-right: 0;
}

.navbar-dark .navbar-toggler {
    border-color: #fff;
}

@media(max-width: 767px) {
    #navbarSupportedContent .navbar-nav li {
        margin-left: -15px;
    }
}

.main-header {
    background: #396073;
    background-image: url(../images/bg-blue.png);
}

.main-header .navbar-default .navbar-collapse .navbar-nav > li > a:hover {
    color: #f9b900
}

.main-header .top-search-holder .search-area .search-button {
    background: #f9b900;
}

.featured-product .products:hover {
    background: #f9b900;
}

.page-info {
    background: #fff;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
    border-radius: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.page-info .breadcrumb {
    border: none;
    box-shadow: none;
    margin-bottom: 0;
}

.site-page-content .title {
    padding: 0;
    padding-bottom: 15px;
    margin-top: 0;
    margin-bottom: 15px;
    border-bottom: solid 1px #eeeeee;
}

.cat-sub-menu li a {
    display: inline-block !important;
}

.cat-sub-menu a.cat-title {
    padding-left: 0 !important;
    border-bottom: solid 1px #f9b900;
}

.cat-sub-menu a.cat-title-nochild {
    padding-left: 0 !important;
    border-bottom: none;
}

.cat-sub-menu .row {
    display: inline-block;
    width: 100%;
}

.featured-categories .owl-nav {
    display: block;
    text-align: right;
}

.featured-categories .owl-dots {
    display: none;
}

.owl-nav button {
    border: none;
    padding: 2px 8px;
    color: #f9f9f9;
    background: #f9b900;
    margin-bottom: 6px;
    border-radius: 4px;
}

.owl-nav button:active {
    border: none;
}


.featured-categories-inner {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 2px #bbb;
}

.featured-categories .name {
    padding-top: 10px;
    padding-bottom: 15px;
    padding-right: 6px;
    padding-left: 6px;
}


.featured-categories .name a {
    color: #999999;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.8px;
}

.featured-categories .fa {
    font-size: 38px;
    color: #999999;
}

.featured-categories .image {
    width: 48px;
    margin: auto;
    height: 63px;
    background-size: auto 45px;
    overflow: hidden;
    padding-top: 18px;}
    

.featured-categories .item {
    padding-bottom: 12px;
    padding-top: 12px;
    text-align: center;
}

.featured-categories .item:hover {
    background: #f9b900;
}

.featured-categories .item:hover a, .featured-categories .item:hover .fa {
    color: #ffffff;
}



    /* main-headers: #40535c,  #1595a2 */